html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    height: 3000px;
    background-color: #3E1404;
    color: #ddd;
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items: center;
    justify-content: space-around;
    background-color: #96421594;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    margin-bottom: 50px;
}

nav .logo {
    color: white;
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
}

nav ul {
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

nav ul li a:hover {
    color: rgb(250, 202, 70);
}

/* END NAVBAR */

/* HEADER */
header {
    background-color: #ccc;
    background-image: url(img/coffee-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
}

header h1 {
    /* font-size: 5rem; */
    /* background-color: #3E1404; */
    font-family: 'Lobster', cursive;
    width: 9em;
    font-size: 5rem;
    color: rgb(250, 202, 70);
    margin: 50px;
    line-height: 1.2;
    /* text-shadow: 2px 1px 12px rgba(12, 44, 87, 0.96); */
}


/* END HEADER */

/* ABOUT */
.about {
    /* width: 80%; */
    display: flex;
    color: #ddd;
    padding: 20px;
    gap: 20px;
}

.about img {
    width: 30em;
    aspect-ratio: 3/1;
    object-fit: cover;
}

.about .content-about {
    padding: 2rem;
}

.about h2 {
    font-size: 30px;

    color: rgb(250, 202, 70);
}

.about p {
    text-align: justify;
    line-height: 2;
    font-size: 1.2em;
}

/* END ABOUT */

/* ACHIEVEMENT */
.achievement {
    background-color: rgb(150, 67, 21);
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: rgb(170, 75, 24);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 202, 70);
    filter: drop-shadow(4px 4px 3px rgba(45, 45, 45, 0.308));
    /* transition: all 0.2s 10ms ease-in-out; */
}

.card p {
    color: #ffffff;
    font-weight: normal;
}


/* .card:hover {
    background-color: rgb(52, 125, 228);
    transform: scale(1.12);
} */

/* END ACHIEVEMENT */

/* NAV 3 */
/* END NAV3 */

/* NAV 4 */
/* END NAV 4 */