html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    background-color: #1d0900;
    color: #ddd;
    box-sizing: border-box;
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(150, 66, 21, .25);
    position: fixed;
    width: 100vw;
    z-index: 9999;
    margin-bottom: 50px;
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
}

nav .logo {
    color: white;
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

nav ul li a:hover {
    color: rgb(250, 202, 70);
}

/* END NAVBAR */

/* HEADER */
header {
    background-color: #ccc;
    background-image: url(img/coffee-header.webp);
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
}

header h1 {
    /* font-size: 5rem; */
    /* background-color: #3E1404; */
    font-family: 'Lobster', cursive;
    width: 9em;
    font-size: 5rem;
    color: rgb(250, 202, 70);
    margin: 50px;
    line-height: 1.2;
    /* text-shadow: 2px 1px 12px rgba(12, 44, 87, 0.96); */
}


/* END HEADER */

/* ABOUT */
.about {
    /* width: 80%; */
    display: flex;
    color: #ddd;
    padding: 20px 0;
    gap: 20px;
}

.about img {
    width: 30em;
    aspect-ratio: 3/1;
    object-fit: cover;
    margin-left: 20px;
}

.about .content-about {
    padding: 2rem;
}

.about h2 {
    font-size: 30px;
    color: rgb(250, 202, 70);
}

.about p {
    text-align: justify;
    line-height: 2;
    font-size: 1.2em;
}

/* END ABOUT */

/* ACHIEVEMENT */
.achievement {
    background-color: rgb(129, 58, 19);
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: rgb(146, 66, 23);
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 202, 70);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease-in-out;
}

.card p {
    color: #ffffff;
    font-weight: normal;
}


.card:hover {
    background-color: rgb(180, 80, 26);
    transform: scale(1.03);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* END ACHIEVEMENT */
/* SERVICE */
.service{
    display: flex;
    color: #ddd;
    padding: 20px;
    gap: 20px;
    height: 160px;
}

.service img{
    width: 20em;
    height: 10em;
    aspect-ratio: 3/1;
    object-fit: cover;
}

.service h2 {
    font-size: 30px;

    color: rgb(250, 202, 70);
}

/* END SERVICE*/

/* NAV 3 */
/* END NAV3 */

/* NAV 4 */
/* END NAV 4 */

footer {
    color: rgb(251, 247, 247);
    font-family: Arial, Helvetica, sans-serif;

    font-weight: normal;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110500;
}

footer h4 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.footer1 h4 {
    margin-bottom: 10px;

}

.list1234 {
    margin-top: 15px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer2 .list1234 img {
    width: 1.11em;
}