body {
    background-image: url('apik.jpg');
}

.container {
    width: 900px;
    height: 600px;
    background-color: aliceblue;
    margin-top: 150px;
    border-radius: 15px;
}

.container form {
    padding-top: 10px;
}

.row {

}

.col-md-6 {
    margin-top: 80px;
    margin-right: 30px;
}

.col-md-6 h2 {
   font-family: 'Montserrat';
   color: black;
   font-size: 50px;
}